body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Caveat Brush", cursive;
    min-width: 1200px;
}


h1 {
    font-size: 70px;
    margin: 0;
    font-weight: 900;
}

.header {
    height: 60px;
    background-color: #00bbf0;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #00204ae0;
    color: black;
    align-items: center;
}


.first_button {
    font-weight: 900;
    padding: 12px 25px;
    border-radius: 200px;
    background-color: white;
    align-self: center;
    font-family: "Caveat Brush", cursive;
    font-size: 30px;
}


.first_button:hover {
    cursor: pointer;
    background-color: #00204a5c;
    box-shadow: 3px 3px 7px 3px;

}


p {
    font-size: 25px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.hero_section {
    display: flex;
    align-items: center;
    background-color: #00bbf0;
    padding: 40px;
    margin: 80px;
    border: 5px solid #fdb44b;
    box-shadow: 3px 3px 10px 5px white;
    border-radius: 100px;
    gap: 50px;
    width: 950px;
    height: 350px;
}




.hero_img {
    height: 350px;
    width: auto;
}