* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Caveat Brush", cursive;
    min-width: 1300px;
}



h1 {
    font-size: 65px;
    margin: 0;
    font-weight: 900;
}


.header {
    height: 80px;
    background-color: #00bbf0;
    display: flex;
    margin-top: 20px;
    /* width: 100%; */
    border-radius: 50px;
    align-items: center;
    border: 3px solid #fdb44b;
    box-shadow: 3px 3px 10px 5px black;
    /* padding: 0 5vw 5vw; */
}

.header_links {
    margin-left: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 35px;
}

.top {
    background-color: #005792;
    color: black;
    padding: 0 10vw 2vw;
}


.first_button {
    font-weight: 900;
    padding: 12px 25px;
    border-radius: 200px;
    background-color: #fdb44b;
    align-self: center;
    font-family: "Caveat Brush", cursive;
    font-size: 30px;
}


.first_button:hover,
button:hover {
    cursor: pointer;
    background-color: #00204a5c;
    box-shadow: 3px 3px 7px 3px;

}


p {
    font-size: 30px;
    margin: 0;
}

.hero_content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    gap: 35px;
}

.hero_section {
    display: flex;
    align-items: center;
    background-color: #00bbf0;
    padding: 50px 30px;
    margin: 30px 0px;
    border: 5px solid #fdb44b;
    box-shadow: 3px 3px 10px 5px black;
    border-radius: 100px;
    gap: 30px;
}


.header_logo {
    height: 60px;
    border-radius: 30%;
    margin-left: 35px;
    transition: all 2.5s;
    cursor: pointer;
}

.header_logo:hover,
.hero_img:hover {
    transform: rotate(360deg);
}

.hero_img {
    height: 300px;
    width: auto;
    transition: all 5.5s;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

a:hover {
    color: blue;
}

ul {
    list-style-type: none;
}


.info_title {
    font-size: 60px;
}

.info_section {
    background-color: #fdb44b;
}

.character_img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.character_names {
    font-size: 3em;
}


.character_description {
    font-size: 25px;
    text-align: center;
}

.character {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.info_title {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    border-top: 3px black solid;
}

.character_container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 10px 0px 50px 0px;
}

.quote_section {
    display: flex;
    flex-direction: column;
    padding: 100px 125px;
    background-color: #00204aef;
}

.quote_text {
    font-size: 75px;
    font-style: italic;
    font-weight: 100;
    line-height: 150%;
    color: #fdb44b;
}

.author {
    font-size: 55px;
    text-align: end;
    color: #00bbf0;
}

.action_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #00bbf0;
}

.signup_title {
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: 800;
    color: #fdb44b;
}

.signup_text {
    font-size: 20px;
    color: #fdb44b;
}

.signup_box {
    background-color: rgb(160, 81, 45);
    display: flex;
    padding: 30px 90px;
    gap: 100px;
    border-radius: 20px;
    border: 15px solid #00204aef;
    /* box-shadow: 3px 3px 10px 5px black; */
}

.second_button {

    font-weight: 900;
    padding: 12px 25px;
    border-radius: 200px;
    align-self: center;
    background-color: #fdb44b;
    font-family: "Caveat Brush", cursive;
    font-size: 30px;
}

.footer {
    font-size: 20px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px;
}